label {
  color: #000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 300px;
  font: 16px Helvetica, Arial, sans-serif;
  background-color: #aaa;
}

main {
  width: 60%;
}

p {
  line-height: 140%;
}

section {
  width: 100%;
  padding: 20px 50px;
}

.error {
  color: hsl(0, 50%, 50%);
}
.success {
  color: hsl(120, 70%, 30%);
}

.btn {
  font-size: 17.5px;
  border: none;
  color: white;
  background-color: hsl(207, 44%, 49%);
  padding: 8px 15px;
  margin: 2px 2px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.btn:hover {
  background-color: hsl(207, 44%, 29%);
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn-black {
  background-color: hsl(0, 0%, 0%);
}

.btn-black:hover {
  background-color: hsl(0, 0%, 20%);
}

.btn-white {
  color: #000;
  background-color: hsl(0, 0%, 100%);
}

.btn-white:hover {
  background-color: hsl(0, 0%, 80%);
}

.btn-delete {
  background-color: hsl(20, 44%, 49%);
}

.btn-delete:hover {
  background-color: hsl(20, 44%, 29%);
}

.btn-edit {
  background-color: hsl(60, 44%, 49%);
}

.btn-edit:hover {
  background-color: hsl(60, 44%, 29%);
}

input {
  word-wrap: break-word;
  word-break: break-all;
}

.add-WordWrap {
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}
